th {
    background-color: gray;
    color: blue;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: yellow;
}

button.del-btn {
    background-color: red;
    color: white;
}

tbody tr.done td {
    text-decoration: line-through;
    background-color: darkgrey;
}